.block.header {
    border-bottom: 1px solid #d8d8d8;
    padding: 0.9375rem 0;
    .wrapper {

    }

    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .col {
        display: flex;
        align-items: center;
        .icon__btn.mobile__menu {
            margin-right: 1rem;
            @media screen and (min-width: 1200px) {
                display: none;
            }
        }
    }

    .header__logo {
        height: 1rem;
    }

    
    ul {
        display: flex;
        align-items: center;
        li {
            list-style: none;
            float: left;
            margin-left: 1.25rem;
            a {
                text-decoration: none;
                font-size: 0.85rem;
                font-weight: 600;
                color: #333;
                text-transform: capitalize;
                &:hover {
                    color: #46127b;
                }
            }
        }
        &.main-menu {
            li {
                @media screen and (max-width: 1200px) {
                    &:nth-child(3) {
                        display: none;
                    }
                }
                @media screen and (max-width: 1100px) {
                    &:nth-child(5), &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}