.header__grouped-btn {
    display: flex;
    border: 1px solid #d8d8d8;
    border-radius: 0.25rem;
    overflow: hidden;
    a {
        display: flex;
        align-items: center;
        padding: 0 0.875rem;
        text-decoration: none;
        border-right: 1px solid #d8d8d8;
        font-weight: 500;
        color: #333;
        text-transform: capitalize;
        transition: all 150ms ease-in-out;
        &:hover {
            background-color: #f8f8f8;
        }
        &:active {
            box-shadow: inset 0 4px 6px rgba(51,51,51,.15);
        }
    }
    .dropdown {
        font-size: 0.9375rem;
        padding: 0 0.625rem;
        line-height: 0;
        &:hover {
            background-color: #f8f8f8;
        }
        &:active {
            box-shadow: inset 0 4px 6px rgba(51,51,51,.15);
        }
    }
}