.regular__btn {
    text-transform: capitalize;
    border: 1px solid #d8d8d8;
    padding: 0 1rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    font-weight: 600;
    color: #333;
    transition: all 150ms ease-in-out;
    &.white__btn {
        color: #333;
        background-color: #fff;
        border-color: #d8d8d8;
        &:hover {
            background-color: #f8f8f8;
        }
    }
    &.blue__btn {
        color: #fff;
        background-color: #00a5ef;
        border-color: #00a5ef;
        &:hover {
            background-color: #0091d2;
            border-color: #0091d2;
        }
    }
    &.border__btn {
        border-color: #00a5ef;
        &:hover {
            background-color: #f4fafd;
        }
    }
    &:active {
        box-shadow: inset 0 4px 6px rgba(51,51,51,.15);
    }
}